---
import CardConcept from "../cards/CardConcept.astro";

interface Item {
  heading: string;
  img: string;
  text: string;
}

export interface Props {
  conceptItems: Item[];
}

const { conceptItems } = Astro.props;
---

<section class="section">
  <div class="container">
    <div class="items_wrapper">
      {
        conceptItems.map((item, index) => (
          <CardConcept
            index={index + 1}
            heading={item.heading}
            img={item.img}
            text={item.text}
            reversed={index % 2 !== 0}
          />
        ))
      }
    </div>
  </div>
</section>

<style>
  .container {
    padding-top: 0;
  }
  .items_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
  }
  @media (max-width: 800px) {
    .items_wrapper {
      padding-top: 0;
      gap: 20px;
    }
  }
</style>
