---
import CardStarter from "../cards/CardStarter.astro";

interface Offer {
  index: number;
  title: string;
  img: string;
  list: string[];
}

export interface Props {
  offers: Offer[];
}

const { offers } = Astro.props;
---

<section class="section section--white">
  <div class="container">
    <div class="items_wrapper">
      {
        offers.map((offer) => (
          <CardStarter index={offer.index} title={offer.title} img={offer.img}>
            <ul>
              {offer.list.map((item) => (
                <li>{item}</li>
              ))}
            </ul>
          </CardStarter>
        ))
      }
    </div>
  </div>
</section>

<style>
  .items_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
    transition: 1s all ease-in-out;
    -webkit-overflow-scrolling: touch;
  }
  .items_wrapper--mobile {
    display: none;
  }
  ul {
    margin: 0 0 0 20px;
    list-style-type: square;
  }
  li {
    line-height: 20px;
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 10px;
  }
  .container {
    padding-top: 0;
  }
</style>
