---
import CardTeam from "../cards/CardTeam.astro";

interface Item {
  href: string;
  icon: string;
}

interface Member {
  name: string;
  role: string;
  img: string;
  social: Item[];
}

export interface Props {
  teamMembers: Member[];
}

const { teamMembers } = Astro.props;
---

<section class="section section--about">
  <div class="container">
    <slot />
    <div class="items_wrapper">
      {
        teamMembers.map((member) => (
          <CardTeam
            name={member.name}
            role={member.role}
            img={member.img}
            social={member.social}
          />
        ))
      }
    </div>
  </div>
</section>

<style>
  .items_wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    text-align: center;
    transition: 1s all ease-in-out;
    max-width: 1200px;
    margin: auto;
    color: var(--secondary-color);
  }

  @media (max-width: 800px) {
    .items_wrapper {
      grid-template-columns: 1fr;
      height: auto;
      padding: 20px;
      width: 70%;
    }
  }
  @media (max-width: 615px) {
    .items_wrapper {
      width: 100%;
    }
  }
</style>
