---
import Layout from "../../layouts/Layout.astro";

import { useSanityClient } from "astro-sanity";
import { sortPosts } from "../../utils/helpers";
import { Post } from "../../utils/typings";

import Hero from "../../components/sections/Hero.astro";
import Cta from "../../components/sections/Cta.astro";
import PostList from "../../components/blog/PostList";

interface Props {
  posts: [Post];
}

const query = `*[_type == "post" && !(_id in path("drafts.**"))]{
    _id,
    title,
    slug,
    mainImage{asset->{url},alt},
    body,
    publishedAt,
    "categories": categories[]->title,
    "authorName":author->name,
    "authorImage": author->image
   }`;

const data = await useSanityClient().fetch(query);
const posts = sortPosts(data);
---

<Layout page="blog" title="Kodao.io">
  <h1 class="text-xl color-red-500 p-30"></h1>
  <Hero title="Kodao.io Blog" page="blog" />
  <PostList client:idle posts={posts} />
  <Cta
    title="Kodao.io helps you get started in Web3!"
    btnText="Discover our offers"
    btnHref="/offers"
    btnText2="Contact us"
    btnHref2="./contact"
    text="The Web3 allows to give much more freedom and and power to end users, creating an infinite number of possibilities for organizations and their communities. It's time to build, sell, innovate and share ! Get started with web3 now!"
  />
</Layout>
