@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --primary-color: black;
  --secondary-color: white;
  --accent-color: #a87bcb;
  --blue-color: #091834;
  --placeholder-color: #818181;
  --bg-color: #000;
}

* {
  font-family: Poppins;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a.anchor {
  display: block;
  position: relative;
  top: -10vh;
  visibility: hidden;
}

body {
  background-color: var(--bg-color);
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

h1 {
  font-weight: 800;
  font-size: 4.5rem;
  text-align: center;
}

h2 {
  font-size: 2.8rem;
  text-align: center;
  font-weight: 600;
}

h3 {
  font-weight: 500;
  font-size: 2.3rem;
}

h4 {
  font-weight: bold;
  font-size: 1.8rem;
  padding-bottom: 10px;
}

p,
li {
  font-weight: 100;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

b {
  font-weight: 500;
}
ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  border: none;
  color: inherit;
  background: none;
}

.text-left {
  text-align: left;
}

.quote {
  font-style: italic;
}

/*----- Container -------*/

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 4% 8%;
  overflow-x: clip;
  max-width: 1800px;
  margin: auto;
  position: relative;
  height: 100%;
}

/* section */

.section {
  position: relative;
  background: var(--primary-color);
  color: var(--secondary-color);
}

.section--white {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.section--transparent {
  background: transparent;
}

.section--blue {
  background: var(--blue-color);
  color: var(--secondary-color);
  margin-bottom: -200px;
}

.section--cta {
  padding-top: 150px;
  padding-bottom: 20px;
}

.section--about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/background/about.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
}

/* mobile */

.desktop-version {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
