---
import Line from "../common/Line";

export interface Props {
  page: string;
  title: string;
  subtitle?: string;
}
const { page, title, subtitle } = Astro.props;
---

<section class={`section hero hero--${page}`}>
  <div class="container">
    <div class="hero_text">
      <h1 class="hero_title" data-aos="zoom-in-down" data-aos-duration="1000">
        {title}
      </h1>
      <Line />
      {
        subtitle && (
          <h2 class="mt-10 text-4xl text-center font-bold pb-0">{subtitle}</h2>
        )
      }
    </div>
  </div>
</section>

<style>
  .hero {
    padding-top: 10vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--secondary-color);
    height: 50vh;
  }

  .hero--concept {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)),
      url("../../assets/background/art.png");
    height: 60vh;
    background-size: auto;
    background-position: inherit;
  }

  .hero--offers {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
      url("../../assets/background/festival.jpeg");
    background-position: center center;
  }

  .hero--contact {
    background-image: url("../../assets/pictures/contact.jpeg");
  }

  .hero--faq {
    background-image: url("../../assets/pictures/blockchain.jpeg");
  }

  .hero--blog {
    background-image: linear-gradient(#330656, rgba(0, 0, 0, 0));
  }

  .hero_text {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero_title {
    text-align: center;
    font-weight: 800;
  }

  .hero_subtitle {
    padding: 30px 0;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
  }

  @media (max-width: 950px) {
    .hero--offers {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.55),
          rgba(0, 0, 0, 0.55)
        ),
        url("../../assets/background/festival.jpeg");
      background-position: center center;
    }
  }
  @media (max-width: 615px) {
    .hero {
      background-attachment: scroll;
      height: auto;
    }
    .hero_text {
      width: 90%;
    }
  }
</style>
