---
export interface Props {
  heading: string;
  title?: string;
  background?: string;
}

const { heading, title, background } = Astro.props;
---

<section class={background ? `section section--${background}` : "section"}>
  <div class="container">
    <div class="text">
      {title && <p class="text_title">{title}</p>}
      <h2 class="text_heading">{heading}</h2>
      <slot />
    </div>
  </div>
</section>

<style>
  .text {
    width: 80%;
    text-align: center;
  }

  .text_title {
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    color: var(--accent-color);
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .text_heading {
    margin-bottom: 20px;
  }

  .text_img {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    max-width: 1000px;
    margin: auto;
    /* max-height: 450px; */
  }

  .text_img img {
    object-fit: contain;
  }

  .text--contact {
    height: 10vh;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .text_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-content: space-around;
    width: 100%;
  }

  @media (max-width: 800px) {
    .text {
      width: 100%;
    }
  }
</style>
