---
import Layout from "../layouts/Layout.astro";
import { faqData } from "../data/faqData";
import web3 from "../assets/pictures/web3-success.jpeg";

import Hero from "../components/sections/Hero.astro";
import Text from "../components/sections/Text.astro";
import Cta from "../components/sections/Cta.astro";
import FaqWrapper from "../components/wrappers/FaqWrapper.astro";
import Banner from "../components/common/Banner.astro";
---

<Layout title="Kodao.io - FAQ" page="faq">
  <Hero title="FAQ" page="faq" />
  <Text heading="A question about Web3 or Kodao.io?">
    <p>See the answers to the most frequently asked questions below.</p>
  </Text>
  <FaqWrapper faqData={faqData} />
  <Cta
    title="Kodao.io helps you get started in Web3!"
    btnText="Discover our offers"
    btnHref="/offers"
    btnText2="Discover our concept"
    btnHref2="./concept"
    background="white"
    text="The Web3 allows to give much more freedom and and power to end users, creating an infinite number of possibilities for organizations and their communities. It's time to build, sell, innovate and share ! Get started with web3 now!"
  />
  <Banner img={web3} />
</Layout>
