---
import logo from "../assets/logo/logo-white.svg";
import englishFlag from "../assets/language/united-kingdom.png";
import frenchFlag from "../assets/language/france.png";

export interface Props {
  page: string;
  fr?: boolean;
}

const { fr = false, page } = Astro.props;
---

<header class="header">
  <a class="logo_link" href="/" aria-label="homepage">
    <img class="logo" src={logo} alt="logo kodao white" />
  </a>
  <nav class="navbar">
    <ul>
      <li
        class={page !== "home"
          ? "navbar_item"
          : "navbar_item navbar_item--active"}
      >
        <a href={fr ? "fr/" : "/"} id="nav-web3" class="navbar_link">Home</a>
      </li>
      <li
        class={page !== "concept"
          ? "navbar_item"
          : "navbar_item navbar_item--active"}
      >
        <a
          href={fr ? "fr/concept" : "/concept"}
          id="nav-concept"
          class="navbar_link">Concept</a
        >
      </li>
      <li
        class={page !== "offers"
          ? "navbar_item"
          : "navbar_item navbar_item--active"}
      >
        <a
          href={fr ? "fr/offers" : "/offers"}
          id="nav-offer"
          class="navbar_link">{fr ? "Offres" : "Offers"}</a
        >
      </li>
      <li
        class={page !== "contact"
          ? "navbar_item"
          : "navbar_item navbar_item--active"}
      >
        <a
          href={fr ? "fr/contact" : "/contact"}
          id="nav-contact"
          class="navbar_link">Contact</a
        >
      </li>
      <li
        class={page !== "faq"
          ? "navbar_item"
          : "navbar_item navbar_item--active"}
      >
        <a href={fr ? "fr/faq" : "/faq"} id="nav-faq" class="navbar_link">FAQ</a
        >
      </li>
      <li class="navbar_item navbar_item--blog">
        <a
          href="https://blog.kodao.io"
          target="_blank"
          id="nav-faq"
          class="navbar_link">Blog</a
        >
      </li>
    </ul>
  </nav>
  <div class="language">
    {
      fr ? (
        <a href="#" class="language_link">
          <img class="language_img" src={englishFlag} alt="english flag" />
        </a>
      ) : (
        <a href="/fr/index" class="language_link">
          <img class="language_img" src={frenchFlag} alt="drapeau français" />
        </a>
      )
    }
  </div>
  <div class="hamburger">
    <i class="bx bx-menu open"></i>
    <i class="bx bx-x close"></i>
  </div>
</header>
<!------Menu Mobile-------->
<nav class="menu">
  <ul class="menu_list">
    <li class="menu_item menu_item--active">
      <a href={fr ? "fr/" : "/"} id="nav-web3" class="menu_link">Home</a>
    </li>
    <li class="menu_item">
      <a
        href={fr ? "fr/concept" : "/concept"}
        id="nav-concept"
        class="menu_link">Concept</a
      >
    </li>
    <li class="menu_item">
      <a href={fr ? "fr/offers" : "/offers"} id="nav-offer" class="menu_link"
        >Offers</a
      >
    </li>
    <li class="menu_item">
      <a
        href={fr ? "fr/contact" : "/contact"}
        id="nav-contact"
        class="menu_link">Contact</a
      >
    </li>
    <li class="menu_item">
      <a href={fr ? "fr/faq" : "/faq"} id="nav-faq" class="menu_link">FAQ</a>
    </li>
    <li class="menu_item menu_item--blog">
      <a href="https://blog.kodao.io" id="nav-blog" class="menu_link">Blog</a>
    </li>
    <li class="menu_item menu_item--social">
      <p class="social_title">Follow Us</p>
      <div class="social-links">
        <a href="https://discord.gg/BXtp6szz7C"
          ><i class="fab fa-discord"></i>
        </a>
        <a href="https://twitter.com/kodao_io"
          ><i class="fab fa-twitter"></i>
        </a>
      </div>
    </li>
  </ul>
</nav>
<a href="./contact.html" class="button button--fixed" type="button" id="cta">
  {fr ? "Réserver une démo" : "Book a demo"}
</a>
<button id="topBtn"><i class="fa-solid fa-angle-up"></i></button>

<style>
  /* Header */

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-color);
    height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 10px 6%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px) saturate(180%);
    border-bottom: 2px solid var(--secondary-color);
  }

  .logo_link {
    height: 100%;
  }

  .logo {
    width: min(40vw, 250px);
    object-fit: contain;
  }

  /* Navbar */

  .navbar ul {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .navbar_item,
  .menu_item {
    list-style: none;
    display: inline-block;
    margin: 0 18px;
    position: relative;
  }

  .navbar_item::after {
    content: "";
    height: 2px;
    width: 0%;
    background: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
  }

  .navbar_item:hover::after {
    width: 100%;
  }

  .navbar_link {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  .navbar_item--active .navbar_link {
    color: var(--accent-color);
  }

  .navbar_item--blog {
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
  }

  .navbar_item--blog:hover {
    background: var(--accent-color);
    color: var(--secondary-color);
  }

  /* Menu */

  .menu {
    display: none;
    position: fixed;
    top: 10vh;
    right: -100%;
    height: 90vh;
    padding: 20px;
    z-index: 100;
    padding: 20px 5%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease-in-out;
  }

  .menu--active {
    display: block;
    right: 0;
  }

  .menu_list {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .menu_item {
    padding: 30px 0 5px;
    color: var(--secondary-color);
  }

  .menu_item::after {
    content: "";
    height: 2px;
    width: 0%;
    background: var(--secondary-color);
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
  }

  .menu_item:hover::after {
    width: 100%;
  }

  .navbar_item--blog:after,
  .menu_item--blog:after {
    height: 0;
  }

  .menu_item--active .menu_link {
    color: var(--accent-color);
  }

  .menu_item--social {
    margin: auto 0 50px;
  }
  .menu_link {
    font-size: 2rem;
    font-weight: 500;
  }

  .social_title {
    font-size: 2rem;
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }

  .social_title::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    background-color: var(--accent-color);
    height: 2px;
    box-sizing: border-box;
    width: 100%;
  }

  /* language */

  .language {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .language_link {
    height: 100%;
  }

  .language_img {
    width: min(10vw, 40px);
    margin: 0px 10px;
    object-fit: contain;
  }

  .language_img:hover {
    border: 2px solid white;
    border-radius: 100%;
  }

  /* hamburger */

  .hamburger {
    display: none;
    position: relative;
    height: 50px;
    width: 50px;
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }

  .hamburger i {
    position: absolute;
    color: var(--secondary-color);
    font-size: 6rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .hamburger i.close {
    opacity: 0;
  }

  .hamburger--active {
    background: var(--accent-color);
  }

  .hamburger--active i {
    color: var(--secondary-color);
    transform: translate(-50%, -50%) rotate(180deg);
  }

  .hamburger--active i.close {
    opacity: 1;
  }

  .hamburger--active i.open {
    opacity: 0;
  }
</style>
