---
import CardService from "../components/cards/CardService.astro";

interface Service {
  title: string;
  description: string;
  img: string;
  list: string[];
}

export interface Props {
  services: Service[];
}

const { services } = Astro.props;
---

<div class="service_wrapper">
  {
    services.map((service) => (
      <CardService title={service.title} img={service.img}>
        <p>{service.description}</p>
        <ul>
          {service.list.map((item) => (
            <li>{item}</li>
          ))}
        </ul>
      </CardService>
    ))
  }
</div>

<style>
  .service_wrapper {
    height: auto;
    visibility: visible;
    position: relative;
    width: 100%;
    margin: 30px auto 20px;
    padding: 0;
  }
  ul {
    margin: 20px;
    list-style-type: square;
  }
</style>
