---
export interface Props {
  title: string;
  description: string;
  ctaText: string;
  downText: string;
}
const { title, description, ctaText, downText } = Astro.props;
---

<section id="hero" class="section showcase">
  <div class="container container--showcase">
    <div class="showcase_text">
      <h1
        class="showcase_title"
        data-aos="zoom-in-down"
        data-aos-duration="1000"
      >
        {title}
      </h1>
      <p
        class="showcase_subtitle"
        data-aos="flip-left"
        data-aos-duration="1000"
      >
        {description}
      </p>
      <a href="./contact.html">
        <button class="button button--hero" type="button">
          <span class="button_text">{ctaText}</span>
        </button>
      </a>
    </div>
  </div>
  <a href="#concept" class="discover">
    <b>{downText}</b>
  </a>
  <a href="#concept">
    <i class="fa-solid fa-angle-down arrow arrow--discover"></i>
  </a>
</section>

<style>
  .showcase {
    padding-top: 0;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.05)),
      url("../assets/background/web3_kodao.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
  }

  .showcase_text {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .showcase_subtitle {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    color: var(--secondary-color);
    padding: 40px 0;
  }

  .showcase_line {
    width: 50%;
  }
</style>
