---
import CardPost from "./CardPost";
import { Post } from "../../utils/typings";

interface Props {
  posts: [Post];
}

const { posts } = Astro.props;
---

<section class="container p-6 md:p-10 xl:p-15 bg-white">
  <h3>Latest Articles</h3>
  <div
    class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mx-auto w-full"
  >
    {
      posts?.map((post) => (
        <div>
          <CardPost post={post} />
        </div>
      ))
    }
  </div>
</section>
