---
export interface Props {
  fr?: boolean;
}

const { fr = false} = Astro.props;
---

<section class="section section--footer">
  <footer class="footer">
    <div class="container container--footer">
      <div class="footer_row">
        <div class="footer_col">
          <h4 class="footer_heading">Kodao.io</h4>
          {fr ? (
  <ul class="footer_list">
            <!-- <li><a href="#">A propos</a></li> -->
            <li class="footer_item"><a href="/fr/offers.html">Nos services</a></li>
            <li class="footer_item"><a href="#">Conditions General</a></li>
            <li class="footer_item"><a href="#">Cookies</a></li>
            <li class="footer_item"><a href="#">Données</a></li>
          </ul>
          ):(
          <ul class="footer_list">
            <!-- <li><a href="#">A propos</a></li> -->
            <li class="footer_item"><a href="/offers.html">Our services</a></li>
            <li class="footer_item"><a href="#">General conditions</a></li>
            <li class="footer_item"><a href="#">Cookies</a></li>
            <li class="footer_item"><a href="#">Personal data</a></li>
          </ul>
          )}
        

        </div>
        <div class="footer_col">
          <h4 class="footer_heading">Info</h4>
          <ul class="footer_list">
            <li class="footer_item"><a href={fr ? "fr/faq" : "/faq"}>FAQ</a></li>
            <li class="footer_item"><a href="#">Demo</a></li>
            <!-- <li><a href="#">Whitepaper</a></li> -->
          </ul>
        </div>
        <div class="footer_col">
          <h4 class="footer_heading">News</h4>
          <ul class="footer_list">
            <li class="footer_item"><a href="#">Collabs</a></li>
            <li class="footer_item"><a href="https://blog.kodao.io">Blog</a></li>
            <!-- <li class="footer_item"><a href="#">Nouveaux services</a></li> -->
          </ul>
        </div>
        <div class="footer_col">
          <h4 class="footer_heading">{fr ? 'Suivez-nous' :'Follow Us'}</h4>
          <div class="social-links">
            <a href="https://discord.gg/BXtp6szz7C" target="_blank"
              ><i class="fab fa-discord"></i>
            </a>
            <a href="https://twitter.com/kodao_io" target="_blank"
              ><i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/kodao.io/" target="_blank"
              ><i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/company/86612611" target="_blank"
              ><i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <p class="powered">© Kodao 2022. All rights reserved</p>
  </footer>
</section>

<style>
  .footer {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
  }

  .container--footer {
    padding-bottom: 10px;
  }

  .footer_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .footer_col {
    padding: 0 20px;
  }
  .footer_heading {
    position: relative;
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 25px;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
  }

  .footer_heading::before {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -10px;
    transform: translateX(-50%);
    background-color: var(--accent-color);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }

  .footer_item {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--primary-color);
    padding: 5px 0;
    transition: all 0.3s ease;
  }

  .footer_item:hover {
    color: var(--accent-color);
    font-weight: 600;
  }
  .social-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }

  .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    font-size: 2rem;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
    margin: 10px;
  }
  .social-links a:hover {
    color: var(--accent-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--accent-color);
  }
  .powered {
    text-align: center;
    color: var(--primary-color);
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  @media (max-width: 950px) {
.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
}
@media (max-width: 615px) {

.footer_row {
  flex-wrap: wrap;
}
.footer_col {
  padding: 10px;
}
ul{
  text-align: center;
}
.footer_heading::before {
  left: 50%;
}
.footer_heading{
  text-align: center;
}
.social-links {
  grid-gap: 0;
}
}
@media (max-width: 400px) {
.footer_row {
  flex-direction: column;
  text-align: center;
  align-items: center;
}
}
</style>
