---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
export interface Props {
  page: string;
  title: string;
  fr?: boolean;
}

const { page, title, fr = false } = Astro.props;
---

<!DOCTYPE html>
<html lang={fr ? "fr" : "en"}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      property="og:title"
      content={fr
        ? "Kodao.io - Agence Web3 de Conseil & Développement Web"
        : "Web3 Consulting and Development Agency"}
    />
    <meta property="og:site_name" content="Kodao.io" />
    <meta
      property="og:description"
      content={fr
        ? "Nous accompagnons les organisations dans leur transition vers le Web3"
        : "We support organisations in their transition to Web3"}
    />
    <meta
      property="og:image"
      content="https://www.kodao.io/assets/pictures/web3-faq.jpeg"
    />
    <meta property="og:url" content="https://www.kodao.io" />
    <!-- Javascript -->
    <script
      src="https://kit.fontawesome.com/39251cc2ac.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../scripts/menu.js" defer></script>
    <title>{title}</title>
  </head>

  <body>
    <Navbar fr={fr} page={page} />
    <slot />
  </body>
</html>
