---
export interface Props {
  fr?: boolean;
}

const { fr } = Astro.props;
---

<section class="section section--form">
  <div class="container">
    <div class="contact">
      <h2 class="cta_title">{fr ? "C'est parti !" : "Let's get started!"}</h2>

      <form
        id="contact-form"
        class="contact_form"
        name="contact"
        method="POST"
        data-netlify="true"
        action="thank-you"
        content-type="application/x-www-form-urlencoded"
      >
        <div class="form_inner">
          <label for="name">{fr ? "Nom complet" : "Full name"}: *</label>
          <input
            class="form_input"
            type="text"
            id="name"
            name="name"
            placeholder={fr ? "Votre nom et prénom" : "Your full name"}
            required
          />
          <label for="email">{fr ? "Adresse email" : "Email address"}: *</label>
          <input
            class="form_input"
            type="email"
            id="email"
            name="email"
            placeholder={fr ? "Votre adresse mail" : "Your email address"}
            required
          />
          <label for="topic"
            >{fr ? "Sujet de votre demande" : "Topic of your request"}: *</label
          >
          <select
            class="form_input form_select"
            id="subject"
            name="topic"
            required
          >
            <option selected value="default">---</option>
            <option value="starter">Web3 Starter Pack</option>
            <option value="full">Services "A la carte"</option>
            <option value="partenaire"
              >{fr ? "Partenariat" : "Partnership"}</option
            >
            <option value="other"
              >{fr ? "AUtre demande" : "Other request"}</option
            >
          </select>
          <div class="form_client">
            <label for="social"
              >{
                fr
                  ? "Quelle type d'organisation représentez-vous ?"
                  : "What type of organization do you represent?"
              } *</label
            >
            <select
              class="form_input form_select organisation"
              id="client-orga"
              name="client-orga"
            >
              <option selected value="default">---</option>
              <option value="entreprise"
                >{fr ? "une entreprise" : "a company"}</option
              >
              <option value="createur"
                >{fr ? "un créateur de contenu" : "a content creator"}
              </option>
              <option value="nft"
                >{fr ? "un projet NFT" : "an NFT project"}</option
              >
              <option value="association"
                >{fr ? "une association" : "an association"}</option
              >
              <option value="other">{fr ? "autre" : "other"}</option>
            </select>
            <div id="entreprise">
              <label for="social">{fr ? "Site Web " : "Website"}: *</label>
              <input
                class="form_input website"
                type="website"
                id="client-orga"
                name="client-orga"
                placeholder="www.yourwebsite.com"
              />
              <label for="budget">Budget : *</label>
              <select class="form_input form_select" name="budget">
                <option value="-5k">{">"}5K</option>
                <option selected value="5k-10k">5K€ - 10K€</option>
                <option value="+10k"> {"<"}10K€</option>
              </select>
            </div>{fr ? "" : ""}
            <div id="createur">
              <input
                class="form_input"
                type="social"
                id="social"
                name="social"
                placeholder={fr
                  ? "Votre site web ou lien vers votre profil Linkedin/Youtube/Twitter.."
                  : "Your website or link to your Linkedin/Youtube/Twitter profile.."}
              />
              <label for="budget">Budget : *</label>
              <select class="form_input form_select" name="budget">
                <option value="-5k">{">"}5K</option>
                <option selected value="5k-10k">5K€ - 10K€</option>
                <option value="+10k"> {"<"}10K€</option>
              </select>
            </div>
          </div>
          <div class="form_partenaire">
            <label for="social"
              >{
                fr
                  ? "Quelle type d'organisation représentez-vous ?"
                  : "What type of organization do you represent?"
              } *</label
            >
            <select
              class="form_input form_select organisation"
              id="partenaire-orga"
              name="partenaire-orga"
            >
              <option selected value="default">---</option>
              <option value="entreprise"
                >{fr ? "une entreprise" : "a company"}</option
              >
              <option value="createur"
                >{fr ? "un créateur de contenu" : "a content creator"}
              </option>
              <option value="nft"
                >{fr ? "un projet NFT" : "an NFT project"}</option
              >
              <option value="association"
                >{fr ? "une association" : "an association"}</option
              >
              <option value="other">{fr ? "autre" : "other"}</option>
            </select>
            <label for="social"
              >{
                fr
                  ? "Réseau social professionnel"
                  : "Professional website or social network"
              }: *</label
            >
            <input
              class="form_input website"
              type="website"
              id="partenaire-web"
              name="partenaire-web"
              placeholder={fr
                ? "Votre site web ou lien vers votre profil Linkedin/Youtube/Twitter.."
                : "Your website or link to your Linkedin/Youtube/Twitter profile.."}
            />
          </div>
          <label for="message">Message : *</label>
          <textarea
            class="form_input"
            rows="8"
            placeholder={fr ? "Votre message" : "Your message"}
            id="message"
            name="message"
            required></textarea>
          <div data-netlify-recaptcha="true"></div>
          <button class="button" type="submit" id="submit" name="submit">
            <span class="button_text">{fr ? "Envoyer" : "Send"}</span>
          </button>
        </div>
        <div class="contact_responses">
          <p class="contact_response" id="error"></p>
          <p class="contact_response" id="success-msg"></p>
        </div>
      </form>
      <output id="output" style="color: white"></output>
    </div>
  </div>
</section>

<style>
  .button {
    display: block;
    position: relative;
    width: 260px;
    height: auto;
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    font-weight: 500;
    background: var(--accent-color);
    color: var(--secondary-color);
    cursor: pointer;
    margin: 20px auto 0;
    transition: 0.5s all ease;
    border: none;
  }

  .button:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    transform: scale(100%);
  }

  .section--form {
    background: linear-gradient(90deg, #330656 0%, black 80%);
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact_form {
    margin: 0 auto;
    padding: 20px 20px 0;
    max-width: 800px;
  }

  .contact_heading {
    color: black;
    text-align: center;
    margin: 1rem 0 2.4rem 0;
    font-size: 3.5rem;
  }

  .contact_subheading {
    color: black;
    margin: 10px;
  }

  .form_input {
    /* border-radius: 10px; */
    padding: 12px;
    width: 100%;
    color: black;
    font-weight: 500;
    border: none;
    margin: 10px 0 15px;
    outline: none;
  }

  .form_select {
    cursor: pointer;
  }

  .form_input:focus,
  .form_input:active {
    background: var(--secondary-color);
  }

  /* Change the white to any color */
  .form_input:-webkit-autofill,
  .form_input:-webkit-autofill:hover,
  .form_input:-webkit-autofill:focus,
  .form_input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  label {
    color: var(--secondary-color);
    font-size: 1.5rem;
    /* margin: 20px 0; */
  }
  input::placeholder,
  textarea::placeholder {
    color: rgb(205, 205, 205);
  }

  .contact_response {
    margin: 10px auto;
    width: 100%;
  }

  #success-msg {
    color: var(--secondary-color);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 40px;
  }

  #error {
    color: rgb(203, 34, 68);
    text-shadow: 1px 1px black;
    font-size: 1.8rem;
  }

  textarea.form_input {
    margin-bottom: 0;
  }

  .form_client,
  .form_partenaire,
  #entreprise,
  #createur {
    display: none;
  }

  @media (max-width: 950px) {
    .contact_form {
      width: 80%;
    }
  }
  @media (max-width: 615px) {
    .contact_form {
      width: 100%;
      padding: 20px 0 0;
    }
  }
  @media (max-width: 615px) {
    .button {
      width: 100%;
    }
  }
</style>

<script>
  const name = document.getElementById("name");
  const email = document.getElementById("email");
  const social = document.getElementById("social");
  const message = document.getElementById("message");
  const contactForm = document.getElementById("contact-form");
  const formInner = document.querySelector(".form_inner");
  const errorElement = document.getElementById("error");
  const successMsg = document.getElementById("success-msg");
  const submitBtn = document.getElementById("submit");
  const inputs = contactForm.querySelectorAll(".form_input");
  const subject = document.getElementById("subject");

  const clientOrga = document.getElementById("client-orga");
  const partenaireOrga = document.getElementById("partenaire-orga");
  const clientWeb = document.getElementById("client-web");
  const partenaireWeb = document.getElementById("partenaire-web");

  const border = "3px solid rgb(161, 30, 56)";

  const validate = (e) => {
    e.preventDefault();

    if (name.value.length < 3) {
      errorElement.innerHTML = "Your name must have at least 3 characters.";
      name.style.border = border;
      return false;
    }

    if (!(email.value.includes(".") && email.value.includes("@"))) {
      errorElement.innerHTML = "This e-mail address is not valid";
      email.style.border = border;
      return false;
    }

    if (!emailIsValid(email.value)) {
      errorElement.innerHTML = "This e-mail address is not valid";
      email.style.border = border;
      return false;
    }
    if (subject.value === "default") {
      errorElement.innerHTML = "Please choose a request type";
      subject.style.border = border;
      return false;
    }
    if (
      subject.value === "starter" ||
      (subject.value === "full" && clientOrga.value === "default")
    ) {
      errorElement.innerHTML = "Please enter your type of organization";
      clientOrga.style.border = border;
      return false;
    }
    if (subject.value === "partenaire" && partenaireOrga.value === "default") {
      errorElement.innerHTML = "Please enter your type of organization";
      partenaireOrga.style.border = border;
      return false;
    }
    if (subject.value === "partenaire" && partenaireWeb.value.length < 3) {
      errorElement.innerHTML =
        "Please provide a link to your website or social network";
      partenaireWeb.style.border = border;
      return false;
    }

    if (message.value.length < 10) {
      errorElement.innerHTML = "Your message must be at least 10 characters";
      message.style.border = border;
      return false;
    }

    processForm(contactForm);
  };

  const emailIsValid = (email) => {
    return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
  };

  //* Send Form + Show Success Message

  const processForm = (form) => {
    const data = new FormData(form);
    data.append("form-name", "contact");
    fetch("/", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams(data).toString(),
    })
      .then(() => {
        errorElement.innerHTML = "";
        successMsg.innerHTML =
          "Your request has been sent! Thank you. </br> It will be processed by our team as soon as possible.";
        formInner.style.display = "none";
        inputs.forEach((input) => (input.style.display = "none"));
        // alert(
        //   "Your request has been sent! Thank you. It will be processed by our team as soon as possible."
        // );
        window.scrollTo(0, 0);
      })
      .catch((error) => {
        form.innerHTML = `<div class="form--error">Error: ${error}</div>`;
      });
  };

  submitBtn.addEventListener("click", validate);

  inputs.forEach((input) =>
    input.addEventListener("focus", (e) => {
      e.target.style.border = "3px solid black";
      errorElement.innerHTML = "";
    })
  );

  inputs.forEach((input) =>
    input.addEventListener("blur", (e) => {
      e.target.style.border = "none";
    })
  );

  //* show extra //

  const client = document.querySelector(".form_client");
  const partenaire = document.querySelector(".form_partenaire");

  subject.addEventListener("change", (e) => {
    const value = e.target.value;
    if (value === "starter" || value === "full") {
      client.style.display = "block";
      partenaire.style.display = "none";
    } else if (value === "partenaire") {
      client.style.display = "none";
      partenaire.style.display = "block";
    } else {
      client.style.display = "none";
      partenaire.style.display = "none";
    }
  });

  //* show client //

  const entreprise = document.getElementById("entreprise");
  const createur = document.getElementById("createur");

  clientOrga.addEventListener("change", (e) => {
    const value = e.target.value;
    if (value === "entreprise" || value === "association") {
      entreprise.style.display = "block";
      createur.style.display = "none";
    } else if (value === "createur" || value === "nft" || value === "other") {
      entreprise.style.display = "none";
      createur.style.display = "block";
    } else {
      entreprise.style.display = "none";
      createur.style.display = "none";
    }
  });
</script>
